@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

:root {
    --primary: #303f9f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'TH Niramit AS', sans-serif;
}

body {
    overflow-x: hidden;
    background: #b3e5fc;
    min-height: 100vh;
}
    /* .filter-section .search-input {
        display: inline-block;
    }

    .search-input-wrapper .search-input {
        width: 100%;
        padding: 10px 36px 10px 45px;
        background: url(./public/img/search-icon.svg) no-repeat left 15px center;
        border-bottom: 1px solid #EBEBF2;
        transition: border 0.3s ease-in-out;
    } */

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#header .logo {
    color: var(--primary);
    font-weight: 700;
    font-size: 3em;
    text-decoration: none;
}

#header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header ul li {
    list-style: none;
    margin-left: 20px;
}

#header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: var(--primary);
    border-radius: 20px;
    font-size: 1.5em;
}

#header ul li a:hover,
#header ul li a.active {
    background: var(--primary);
    color: rgb(255, 255, 255);
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, var(--primary), transparent);
    z-index: 10;
}

section img {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section #text {
    position: absolute;
    color: var(--primary);
    font-size: 6vw;
    text-align: center;
    line-height: .50em;
    font-family: 'TH Niramit AS', cursive;
    transform: translatey(-40%);
}

section #text span {
    font-size: .30em;
    letter-spacing: 5px;
    font-weight: 200;
}

#btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    background: #fff;
    color: var(--primary);
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 40px;
    transform: translatey(100px);
}

.sec {
    position: relative;
    padding: 100px;
    background: var(--primary);
}

.sec h2 {
    font-size: 3.5em;
    color: #fff;
    margin-bottom: 10px;
}

.sec p {
    font-size: 1.5em;
    color: #fff;
}