<!DOCTYPE html>
<html lang= "th" ng-app="ViewWeb"  ng-controller="ViewWebController" ng-init ="select();">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>กรอกข้อมูลพรรณไม้</title>

</head>
<!-- CSS only -->

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js" integrity="sha512-yFjZbTYRCJodnuyGlsKamNE/LlEaEAxSUDe5+u61mV8zzqJVFOH7TnULE2/PP/l5vKWpUNnF4VGVkXh3MjgLsg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="indexDB.css" >
    <body class="p-3 m-0 border-0 bd-example">
      <div class="text-center d-block">
      <input placeholder="Search"  type="search" class="input" ng-model="search">
      <div class="text-center d-block">
         <button class=  "btn btn-primary " ng-click ="select();">ค้นหา</button> 
         <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
            เพิ่มข้อมูล </button>
          </div>
          <div class="row">
          <div class="card mb-4 box-shadow" style="width: 35rem; margin-right: 50px;"  ng-repeat = "x in rtree">   
                    <div class="card-body">
                      <h5 class="card-title">ข้อมูลพรรณไม้</h5>
                      <p scope="col"><img ng-src  = "{{x.picture}}" width="400px" height="295px"></p>
                      <p scope="col">รหัสพรรณไม้    : {{x.ID}}</p>
                      <p scope="col">ชื่อพรรณไม้     : {{x.thainame}}</p>
                      <p scope="col">ชื่อวิทยาศาสตร์  : {{x.engname}}</p>
                      <p scope="col">สรรพคุณ       : {{x.properties}}</p>
                      
                      </div>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-danger btn-sm" ng-click="deleteData(x.ID)">Delete</button>
                          <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">DELETE</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <div class="text-center">
                                  </div>
                                  {{show}}
                                </div>
                                
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" >Close</button>
                                  <button type="button" class="btn btn-primary"data-bs-dismiss="modal" ng-click="select();">Save changes</button>
                                </div>   
                              </div>
                            </div>
                          </div>
                          <button type="button" class="btn btn-sm  btn-success"  data-bs-toggle="modal" data-bs-target="#exampleModal4"
                          ng-click= "rtree1.ID          =x.ID;
                                    rtree1.thainame     =x.thainame;
                                    rtree1.engname     =x.engname;
                                    rtree1.properties   =x.properties;
                                    rtree1.picture      =x.picture"
                           >Edit</button>

                        </div>
                       
                      </div>
              </div>  
              </div>  
          </div> 
        
  
  <!-- insert -->
  
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">เพิ่มข้อมูลพรรณไม้</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="row g-3" ng-submit ="senddata()">
            <div class="col-md-6">
              <label for="inputID4" class="form-label">รหัสพรรณไม้</label>
              <input type="text" ng-model="frntree.ID" class="form-control" id="inputID4">
            </div>
            <div class="col-md-6">
              <label for="inputName4" class="form-label">ชื่อภาษาไทย</label>
              <input type="text" ng-model="frntree.thainame" class="form-control" id="inputName4">
            </div>
            <div class="col-md-6">
              <label for="inputLastnane" class="form-label">ชื่อวิทยาศาสตร์</label>
              <input type="text" ng-model="frntree.engname" class="form-control" id="inputLastname">
            </div>
            <div class="col-md-6">
              <label for="inputLastnane" class="form-label">สรรพคุณ</label>
              <input type="text" ng-model="frntree.properties" class="form-control" id="inputLastname">
            </div>
            <div class="col-md-6">
              <label for="inputMajor2" class="form-label">Picture</label>
              <input id="imageinput" type="file" accept="image/*" multiple="multiple" ng-model="frntree.picture" class="form-control" id="inputMajor2">
              <div id="previewarea" class="row"></div>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary" data-bs-toggle="modal" ng-click = "select();">Sign in</button>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>

<!--show message-->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="text-center">
        </div>
        {{show}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"data-bs-dismiss="modal" ng-click="select();">Save changes</button>
        
      </div>
    </div>
  </div>
</div>


<!--update-->
          <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">แก้ไขข้อมูล</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="text-center">
                  </div>
                  <form class="row g-1" ng-submit="Update()">
                    <div class="col-auto">
                    <label for="inputRoom ID" class="form-label">รหัสพรรณไม้</label>
                    <input type="text" ng-model = "rtree1.ID" class="form-control" id="inputRoom ID">
                   </div>  
                    <div class="col-auto">
                      <label for="inputType_id" class="form-label">ชื่อพรรณไม้</label>
                      <input type="text" ng-model = "rtree1.thainame" class="form-control" id="inputType_id">
                    </div>
                    <div class="col-auto">
                      <label for="inputrental" class="form-label">ชื่อวิทยาศาสตร์</label>
                      <input type="text" ng-model= "rtree1.engname" class="form-control" id="inputrental" >
                    </div>
                    <div class="col-auto">
                      <label for="inputpicture" class="form-label">สรรพคุณ</label>
                      <input type="text" ng-model = "rtree1.properties" class="form-control" id="inputpicture">
                    </div>
                    <div class="col-auto">
                      <label for="inputpicture" class="form-label">รูปภาพ</label>
                      <input id="imageinput2" type="file" accept="image/*" multiple="multiple" ng-model="rtree1.picture" class="form-control" id="inputMajor2">
                      <div id="previewarea" class="row"></div>
                     <label></label>
                   
                    </div>
                    <div class="col-md">
                      <button type="submit" class=  "btn btn-primary" data-bs-toggle="modal"data-bs-target="#exampleModal2" >ยืนยันการแก้ไขข้อมูล</button>
                    </div>
                  </form>         
                </div>
              </div>
            </div>
          </div>  
      
</body>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="controller.js"></script>
</html>