  
   .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .input {
    width: 40%;
    height: 50px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
  }
  
  .input::placeholder {
    color: #9e9ea7;
  }
  
  .plant {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  