<!doctype html>
<html lang= "th" ng-app="myApp"  ng-controller="ViewWebController" ng-init ="select();">
    <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
             <meta name="viewport" content="width=device-width, initial-scale=1.0">
             <title>พฤกษศาสตร์พรรณไม้</title>

        <!-- CSS FILES -->        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
                        
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <link href="css/bootstrap-icons.css" rel="stylesheet">

        <link href="css/templatemo-topic-listing.css" rel="stylesheet">      
<!--

TemplateMo 590 topic listing

https://templatemo.com/tm-590-topic-listing

-->
    </head>
    
    <body id="top">

        <main>

            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand" href="index.html">
                        <i class="bi-back"></i>
                        <span>Namdibwittayakom School</span>
                    </a>

                    <div class="d-lg-none ms-auto me-4">
                        <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
                    </div>
    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
    
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-5 me-lg-auto">
                            <!-- <li class="nav-item">
                                <a class="nav-link click-scroll" href= '../public/index.html' >Home</a>
                            </li> -->
                        <div class="d-none d-lg-block">
                            <a href="../loginadmin.php" class="navbar-icon bi-person smoothscroll"></a>
                        </div>
                    </div>
                </div>
            </nav>
            

            <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-8 col-12 mx-auto">
                            <h1 class="text-white text-center">โรงเรียนน้ำดิบวิทยาคม</h1>

                            <h6 class="text-center">ข้อมูลพฤกษศาสตร์พรรณไม้ โรงเรียนน้ำดิบวิทยาคม</h6>

                            <form method="get" class="custom-form mt-4 pt-2 mb-lg-0 mb-5" role="search">
                                <div class="input-group input-group-lg">
                                    <span class="input-group-text bi-search" id="basic-addon1">
                                        
                                    </span>

                                    <input name="keyword" type="search" class="form-control" id="keyword" placeholder="กรอกข้อมูลพรรณไม้ที่คุณต้องการค้นหา" aria-label="Search" ng-model="search">

                                    <button type="submit" class="form-control" ng-click ="select();">Search</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </section>


           


            <section class="explore-section section-padding" id="section_2">
                <div class="container">

                        <div class="col-12 text-center">
                            <h2 class="mb-4">Browse Topics</h1>
                        </div>

                    </div>
                </div>
                             <!-- เนื้อหาแท็บที่นี่ -->
                <div class="container-fluid">
                    <div class="row">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="All-tab" data-bs-toggle="tab" data-bs-target="#all-tab-pane" type="button" role="tab" aria-controls="all-tab-pane" aria-selected="true">All</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="augmentedReality-tab" data-bs-toggle="tab" data-bs-target="#augmentedReality-tab-pane" type="button" role="tab" aria-controls="augmentedReality-tab-pane" aria-selected="false">Augmented reality</button>
                            </li>
                        
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="perenninaPlant-tab" data-bs-toggle="tab" data-bs-target="#perenninaPlant-tab-pane" type="button" role="tab" aria-controls="perenninaPlant-tab-pane" aria-selected="false">Perennina Plant</button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="shrubbery-tab" data-bs-toggle="tab" data-bs-target="#shrubbery-tab-pane" type="button" role="tab" aria-controls="shrubbery-tab-pane" aria-selected="false">Shrubbery</button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="palm-tab" data-bs-toggle="tab" data-bs-target="#palm-tab-pane" type="button" role="tab" aria-controls="palm-tab-pane" aria-selected="false">Palm</button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="medicinalPlant-tab" data-bs-toggle="tab" data-bs-target="#medicinalPlant-tab-pane" type="button" role="tab" aria-controls="medicinalPlant-tab-pane" aria-selected="false">Medicinal plant</button>
                            </li>

                        </ul>
                    </div>
                </div>


                
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="tab-content" id="myTabContent" >
                                
                                <div class="tab-pane fade show active" id="all-tab-pane" role="tabpanel" aria-labelledby="all-tab">
                                    <!-- เนื้อหาแท็บ All (ต้นไม้ทั้งหมด) ไว้ที่นี่ -->
                                    <div class="row">
                                        <!-- Start ng-repeat loop to create a box for each item in rtree -->
                                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0" ng-repeat="x in rtree">
                                            <div class="custom-block bg-white shadow-lg">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">{{x.thainame}}</h5>
                                                        <p class="mb-0">{{x.engname}}</p>
                                                    </div>
                                                </div>
                                                <img ng-src="{{x.picture}}" class="custom-block-image img-fluid">
                                                <p>รหัสพรรณไม้: {{x.ID[0]}}-{{x.ID.substring(1,6)}}-{{x.ID.substring(6,9)}}-{{x.ID.substring(9)}}</p>
                                                <span style="white-space: pre-wrap; word-break: break-word;">สรรพคุณ : {{x.properties}}</span>
                                                 
                                                <div style="display: inline-block; cursor: pointer;" ng-click="openModal()" class="qrcode">
                                                    <img ng-src="data:image/png;base64,{{x.qrcodeofar}}" class="custom-block-image img-fluid" ng-if="x.qrcodeofar" style="width: 50px; height: 50px;">
                                                  </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                
                                
                                <div class="tab-pane fade" id="augmentedReality-tab-pane" role="tabpanel" aria-labelledby="augmentedReality-tab">
                                    <!-- เนื้อหาแท็บ Augmented Reality ไว้ที่นี่ -->
                                    <div class="row">
                                        <!-- Start ng-repeat loop to create a box for each item in rtree -->
                                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0" ng-repeat="x in rtree | filter: { qrcodeofar: '' }">
                                            <!-- ตรวจสอบว่า x.qrcodeofar มีข้อมูลหรือไม่ -->
                                            <div  class="custom-block bg-white shadow-lg" ng-if="x.qrcodeofar">
                                                <div class="d-flex">
                                                    <div>
                                                        
                                                        <h5 class="mb-2">{{x.thainame}}</h5>
                                                        <p class="mb-0">{{x.engname}}</p>
                                                    </div>
                                                </div>
                                                <img ng-src="{{x.picture}}" class="custom-block-image img-fluid">
                                                <p>รหัสพรรณไม้: {{x.ID[0]}}-{{x.ID.substring(1,6)}}-{{x.ID.substring(6,9)}}-{{x.ID.substring(9)}}</p>
                                                <span style="white-space: pre-wrap; word-break: break-word;">สรรพคุณ : {{x.properties}}</span>
                                                <div style="display: inline-block; cursor: pointer;" ng-click="openModal()" class="qrcode">
                                                    <img ng-src="data:image/png;base64,{{x.qrcodeofar}}" class="custom-block-image img-fluid" ng-if="x.qrcodeofar" style="width: 50px; height: 50px;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>   
                                </div>




                                
  
                                <div class="tab-pane fade" id="perenninaPlant-tab-pane" role="tabpanel" aria-labelledby="perenninaPlant-tab">
                                    <!-- เนื้อหาแท็บ Perennina Plant ไว้ที่นี่ -->
                                    <div class="row">
                                        <!-- Start ng-repeat loop to create a box for each item in rtree -->
                                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0" ng-repeat="x in rtree | filter:{ treetyyy: 'ไม้ยืนต้น' }">
                                            <!-- ตรวจสอบค่า treetyyy ว่าเป็น 'ไม้ยืนต้น' หรือไม่ -->
                                            <div ng-if="x.treetyyy === 'ไม้ยืนต้น'" class="custom-block bg-white shadow-lg">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">{{x.thainame}}</h5>
                                                        <p class="mb-0">{{x.engname}}</p>
                                                    </div>
                                                </div>
                                                <img ng-src="{{x.picture}}" class="custom-block-image img-fluid">
                                                <p>รหัสพรรณไม้: {{x.ID[0]}}-{{x.ID.substring(1,6)}}-{{x.ID.substring(6,9)}}-{{x.ID.substring(9)}}</p>
                                                <span style="white-space: pre-wrap; word-break: break-word;">สรรพคุณ : {{x.properties}}</span>
                                                 
                                                <div style="display: inline-block; cursor: pointer;" ng-click="openModal()" class="qrcode">
                                                    <img ng-src="data:image/png;base64,{{x.qrcodeofar}}" class="custom-block-image img-fluid" ng-if="x.qrcodeofar" style="width: 50px; height: 50px;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="tab-pane fade" id="shrubbery-tab-pane" role="tabpanel" aria-labelledby="shrubbery-tab">
                                    <!-- เนื้อหาแท็บ Shrubbery ไว้ที่นี่ -->
                                    <div class="row">
                                        <!-- Start ng-repeat loop to create a box for each item in rtree -->
                                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0" ng-repeat="x in rtree | filter:{ treetyyy: 'ไม้พุ่ม' }">
                                            <!-- ตรวจสอบค่า treetyyy ว่าเป็น 'ไม้พุ่ม' หรือไม่ -->
                                            <div ng-if="x.treetyyy === 'ไม้พุ่ม'" class="custom-block bg-white shadow-lg">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">{{x.thainame}}</h5>
                                                        <p class="mb-0">{{x.engname}}</p>
                                                    </div>
                                                </div>
                                                <img ng-src="{{x.picture}}" class="custom-block-image img-fluid">
                                                <p>รหัสพรรณไม้: {{x.ID[0]}}-{{x.ID.substring(1,6)}}-{{x.ID.substring(6,9)}}-{{x.ID.substring(9)}}</p>
                                                <span style="white-space: pre-wrap; word-break: break-word;">สรรพคุณ : {{x.properties}}</span>
                                                 
                                                <div style="display: inline-block; cursor: pointer;" ng-click="openModal()" class="qrcode">
                                                    <img ng-src="data:image/png;base64,{{x.qrcodeofar}}" class="custom-block-image img-fluid" ng-if="x.qrcodeofar" style="width: 50px; height: 50px;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="palm-tab-pane" role="tabpanel" aria-labelledby="palm-tab">
                                    <!-- เนื้อหาแท็บ Palm ไว้ที่นี่ -->
                                    <div class="row">
                                        <!-- Start ng-repeat loop to create a box for each item in rtree -->
                                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0" ng-repeat="x in rtree | filter:{ treetyyy: 'ปาล์ม' }">
                                            <!-- ตรวจสอบค่า treetyyy ว่าเป็น 'ปาล์ม' หรือไม่ -->
                                            <div ng-if="x.treetyyy === 'ปาล์ม'" class="custom-block bg-white shadow-lg">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">{{x.thainame}}</h5>
                                                        <p class="mb-0">{{x.engname}}</p>
                                                    </div>
                                                </div>
                                                <img ng-src="{{x.picture}}" class="custom-block-image img-fluid">
                                                <p>รหัสพรรณไม้: {{x.ID[0]}}-{{x.ID.substring(1,6)}}-{{x.ID.substring(6,9)}}-{{x.ID.substring(9)}}</p>
                                                <span style="white-space: pre-wrap; word-break: break-word;">สรรพคุณ : {{x.properties}}</span>
                                                 
                                                <div style="display: inline-block; cursor: pointer;" ng-click="openModal()" class="qrcode">
                                                    <img ng-src="data:image/png;base64,{{x.qrcodeofar}}" class="custom-block-image img-fluid" ng-if="x.qrcodeofar" style="width: 50px; height: 50px;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="medicinalPlant-tab-pane" role="tabpanel" aria-labelledby="medicinalPlant-tab">
                                    <!-- เนื้อหาแท็บ Medicinal Plant ไว้ที่นี่ -->
                                    <div class="row">
                                        <!-- Start ng-repeat loop to create a box for each item in rtree -->
                                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0" ng-repeat="x in rtree | filter:{ treetyyy: 'ไม้ล้มลุก / สมุนไพร' }">
                                            <!-- ตรวจสอบค่า treetyyy ว่าเป็น 'ไม้ล้มลุก / สมุนไพร' หรือไม่ -->
                                            <div ng-if="x.treetyyy === 'ไม้ล้มลุก / สมุนไพร'" class="custom-block bg-white shadow-lg">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">{{x.thainame}}</h5>
                                                        <p class="mb-0">{{x.engname}}</p>
                                                    </div>
                                                </div>
                                                <img ng-src="{{x.picture}}" class="custom-block-image img-fluid">
                                                <p>รหัสพรรณไม้: {{x.ID[0]}}-{{x.ID.substring(1,6)}}-{{x.ID.substring(6,9)}}-{{x.ID.substring(9)}}</p>
                                                <span style="white-space: pre-wrap; word-break: break-word;">สรรพคุณ : {{x.properties}}</span>
                                                 
                                                <div style="display: inline-block; cursor: pointer;" ng-click="openModal()" class="qrcode">
                                                    <img ng-src="data:image/png;base64,{{x.qrcodeofar}}" class="custom-block-image img-fluid" ng-if="x.qrcodeofar" style="width: 50px; height: 50px;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>






                            </div>
                        </div>
                    </div>
                </div>
             </section> 
        </main>



        
<footer class="site-footer section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-12 mb-4 pb-2">
                        <a class="navbar-brand mb-2" href="index.html">
                            <i class="bi-back"></i>
                            <span>Topic</span>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-4 col-6">
                        <h6 class="site-footer-title mb-3">Resources</h6>

                        <ul class="site-footer-links">
                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">Home</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">How it works</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">FAQs</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">Contact</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                        <h6 class="site-footer-title mb-3">Information</h6>

                        <p class="text-white d-flex mb-1">
                            <a href="tel: 305-240-9671" class="site-footer-link">
                                305-240-9671
                            </a>
                        </p>

                        <p class="text-white d-flex">
                            <a href="mailto:info@company.com" class="site-footer-link">
                                info@company.com
                            </a>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            English</button>

                            <ul class="dropdown-menu">
                                <li><button class="dropdown-item" type="button">Thai</button></li>

                                <li><button class="dropdown-item" type="button">Myanmar</button></li>

                                <li><button class="dropdown-item" type="button">Arabic</button></li>
                            </ul>
                        </div>

                        <p class="copyright-text mt-lg-5 mt-4">Copyright © 2048 Topic Listing Center. All rights reserved.
                        <br><br>Design: <a rel="nofollow" href="https://templatemo.com" target="_blank">TemplateMo</a> Distribution <a href="https://themewagon.com">ThemeWagon</a></p>
                        
                    </div>

                </div>
            </div>
        </footer>


        <!-- JAVASCRIPT FILES -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/jquery.sticky.js"></script>
        <script src="js/click-scroll.js"></script>
        <script src="js/custom.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
        <a href="https://dribbble.com/myacode" class="dribbble" target="_blank"><ion-icon name="logo-dribbble"></ion-icon></a>
        <script src="controllermain.js"></script>
    </body>
</html>