<!DOCTYPE html>
<html lang= "th" ng-app="myApp"  ng-controller="ViewWebController" ng-init ="select();">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>พฤกษศาสตร์พรรณไม้</title>
    
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js" integrity="sha512-yFjZbTYRCJodnuyGlsKamNE/LlEaEAxSUDe5+u61mV8zzqJVFOH7TnULE2/PP/l5vKWpUNnF4VGVkXh3MjgLsg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>  -->
    <link rel="stylesheet" href="Mainpage.css" >
</head>

<body>
    <header id="header">
        <a href="#" class="logo">Namdibwittayakom School</a>
        <ul>
            <li><a href="#" class="active">ข้อมูลพรรณไม้</a></li>
            <!-- <li><a href="#">วิธีการใช้งาน</a></li>
            <li><a href="#">Admin</a></li> -->
            <li><a href="#" class="search" ng-model="search">
                <input type="text" class="search__input" id="search-input" placeholder="Search...">
                <div class="search__icon">
                  <ion-icon name="search">
                    <svg width="46" height="46" fill="currentColor" viewBox="2.5 -2 23 24" xmlns="http://www.w3.org/2000/svg" ng-click ="select();" id="search-button" >
                        <path d="M12 3c-4.963 0-9 4.037-9 9s4.037 9 9 9 9-4.037 9-9-4.037-9-9-9Zm3.75 13.81-2.538-2.537a4.129 4.129 0 1 1 1.06-1.061l2.539 2.538-1.061 1.06Z" ng-click ="select();"></path>
                        <path d="M10.875 13.5a2.625 2.625 0 1 0 0-5.25 2.625 2.625 0 0 0 0 5.25Z" ng-click ="select();"></path>
                      </svg>
                  </ion-icon>
                </div>
            </a></li>
        </ul>
        <div id="results-container"></div>
    </header>
    
    <Section>
        <h2 id="text"><span>ข้อมูลพฤกษศาสตร์พรรณไม้</span><br><br>โรงเรียนน้ำดิบวิทยาคม</h2>
        
        <img src="https://user-images.githubusercontent.com/65358991/170092504-132fa547-5ced-40e5-ab64-ded61518fac2.png" id="bird1">
        <img src="https://user-images.githubusercontent.com/65358991/170092542-9747edcc-fb51-4e21-aaf5-a61119393618.png" id="bird2">
        <img src="https://user-images.githubusercontent.com/65358991/170092559-883fe071-eb4f-4610-8c8b-a037d061c617.png" id="forest">     
        <img src="https://user-images.githubusercontent.com/65358991/170092605-eada6510-d556-45cc-b7fa-9e4d1d258d26.png" id="rocks">
        <img src="https://user-images.githubusercontent.com/65358991/170092616-5a70c4af-2eed-496f-bde9-b5fcc7142a31.png" id="water">
    </Section>

    <div class="sec">
        <h2>ข้อมูลพฤกษศาสตร์พรรณไม้ โรงเรียนน้ำดิบวิทยาคม</h2>
    
        <div class="wrapper" id="container">
            <div class="product-img" ng-repeat="x in rtree">
                <img ng-src="{{x.picture}}" height="420" width="320">
            
                <div class="product-info" >
                    <div class="product-text">
                        <h1>{{x.thainame}}</h1>
                        <h2>{{x.engname}}</h2>
                        <p>รหัสพรรณไม้: {{x.ID[0]}}-{{x.ID.substring(1,6)}}-{{x.ID.substring(6,9)}}-{{x.ID.substring(9)}}<br>
                        ชื่อวิทยาศาสตร์  : {{x.engname}} <br>
                         <span style="white-space: pre-wrap; word-break: break-word;">สรรพคุณ : {{x.properties}}</span></p>
                    </div>
            </div>
        </div>
    </div>
   
</body>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <a href="https://dribbble.com/myacode" class="dribbble" target="_blank"><ion-icon name="logo-dribbble"></ion-icon></a>
<script src="controllermain.js"></script>
</html>