@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

:root {
  --primary: #303f9f;
  --primary-light: #8abdff;
  --primary-dark: #5b0eeb;
  
  --white: #FFFFFF;
  --greyLight-1: #E4EBF5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;

  --shadow: .3rem .3rem .6rem var(--greyLight-2), -.2rem -.2rem .5rem var(--white);
  --inner-shadow: inset .2rem .2rem .5rem var(--greyLight-2), inset -.2rem -.2rem .5rem var(--white);
}

/* Use variables where needed */
div {
  box-shadow: var(--shadow);
  box-shadow: var(--inner-shadow);
}




*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'TH Niramit AS', sans-serif;
}

body {
    overflow-x: hidden;
    background: #b3e5fc;
    min-height: 100vh;
}
#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#header .logo {
    color: var(--primary);
    font-weight: 700;
    font-size: 3em;
    text-decoration: none;
}

#header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header ul li {
    list-style: none;
    margin-left: 20px;
}

#header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: var(--primary);
    border-radius: 20px;
    font-size: 1.3em;
}

#header ul li a.active {
    background: var(--primary);
    color: rgb(255, 255, 255);
}


#header ul li a.search {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  position: relative;
  display: flex;
  align-items: center;
}

#header ul li a.search input.search__input {
  width: 16rem;
  height: 2.3rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.5rem;
  padding-left: 3rem;
  box-shadow:  inset .2rem .2rem .5rem var(--greyLight-2);
  background: none;
  font-family: inherit;
  color: var(--greyDark);
} /* add this closing curly brace here */

#header ul li a.search input.search__input::placeholder {
  color: var(--greyLight-3);
}

#header ul li a.search input.search__input:focus { 
  outline: none; 
  box-shadow: var(--shadow); 
}

#header ul li a.search input.search__input:focus + .search__icon {
  color: var(--primary);
}

#header ul li a.search .__icon {
  height: 2rem;
  position: absolute;
  font-size: 2rem;
  padding: 0 1rem;
  display: flex;
  color: var(--greyDark);
  transition: .3s ease;
}
   section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, var(--primary), transparent);
    z-index: 10;
}
    
section img {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section #text {
    position: absolute;
    color: var(--primary);
    font-size: 6vw;
    font-weight: 300;
    text-align: center;
    line-height: .50em;
    font-family: 'TH Niramit AS', cursive;
    transform: translatey(-40%);
}

section #text span {
    font-size: .30em;
    letter-spacing: 5px;
    font-weight: 200;
}



.sec {
    position: relative;
    padding: 100px;
    background: var(--primary);
}

.sec h2 {
    font-size: 3em;
    font-weight: 300;
    color: #fff;
    margin-bottom: 10px;
}

.sec p {
    font-size: 1.5em;
    color: #fff;
}


  .wrapper {
    height: 420px;
    width: 740px;
    margin: 0 auto;
    border-radius: 7px 7px 7px 7px;
    /* VIA CSS MATIC https://goo.gl/cIbnS */
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  }
  
  .product-img {
    float: left;
    /* height: 420px;
    width: 327px; */
  }
  
  .product-img img {
    float: left;
    object-fit: cover;
    height: 420px;
    width: 327px;
    border-radius: 7px 0 0 7px;
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  }

  
  .product-info {
    float: left;
    height: 420px;
    width: 413px;
    border-radius: 0 7px 10px 7px;
    background-color: #ffffff;
    margin-bottom: 20px;
  }
  
  .product-text {
    height: 300px;
    width: 413px;
    padding-right: 20px;
  }
  
  .product-text h1 {
    margin: 0 0 0 38px;
    padding-top: 52px;
    font-size: 34px;
    color: #474747;
  }
  
  .product-text h1 {
    font-family: 'TH Niramit AS', serif;
    
  }
  
  .product-text h2 {
    margin: 0 0 47px 38px;
    font-size: 19px;
    font-family: 'TH Niramit AS', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #909090;
    letter-spacing: 0.2em;
  }
  
  .product-text p {
    height: 210px;
    margin: 0 0 0 30px;
    font-family: 'TH Niramit AS', serif;
    color: #6b6b6b;
    line-height: 1.7em;
    font-size: 20px;
    font-weight: lighter;
    overflow: auto;
  }
